<!-- Validation failure messages -->
<% if @payment.errors.any? %>
  <% @payment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Payment</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_payment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @payment.user_id %>">
      </div>

      <!-- Label and input for other_id -->
      <div class="form-group">
        <label for="other_id" class="control-label">
          Other
        </label>

        <input type="text" id="other_id" name="other_id" placeholder="Other" class="form-control" value="<%= @payment.other_id %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="<%= @payment.description %>">
      </div>

      <!-- Label and input for amount_paid -->
      <div class="form-group">
        <label for="amount_paid" class="control-label">
          Amount paid
        </label>

        <input type="text" id="amount_paid" name="amount_paid" placeholder="Amount paid" class="form-control" value="<%= @payment.amount_paid %>">
      </div>

      <!-- Label and input for payment -->
      <div class="checkbox">
        <label for="payment">
          <input type="checkbox" id="payment" name="payment" value="1" <%= "checked" if @payment.payment %>>
          Payment
        </label>
      </div>

      <button class="btn btn-success">
        Create Payment
      </button>
      or
      <a href="/payments">Cancel</a>
    </form>
  </div>
</div>
